<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insert" parameterType="spring.model.MemberCommand">
		insert into usertable
		values
		(#{email},#{nickname},#{passwd},#{hash},#{age},sysdate,sysdate,0,0,#{ip})
	</insert>

	<select id="selectMember" parameterType="String" resultType="spring.model.MemberCommand">
		select * from usertable where email=#{email}
	</select>

	<select id="selectAll" parameterType="spring.model.MemberCommand" resultType="spring.model.MemberCommand">
		select * from usertable
	</select>
	
	<update id="updateMember" parameterType="spring.model.MemberCommand">
		update usertable set
		email=#{email}, nickname=#{nickname}, passwd=#{passwd}, hash=#{hash},
		age=#{age} where email=#{email}
	</update>

	<delete id="delete" parameterType="String">
		delete from usertable where email=#{email}
	</delete>
	
	<select id="checkdelete" parameterType="String" resultType="String">
	select passwd from usertable where email=#{email}
	</select>
	
	<select id="login" parameterType="spring.model.MemberCommand" resultType="int">
		select count(*) from usertable where email=#{email} and passwd=#{passwd}
	</select>
	
	<select id="findPassword" parameterType="spring.model.MemberCommand" resultType="String">
		select passwd from usertable where email=#{email}
	</select>
	
	<select id="nick" parameterType="spring.model.MemberCommand" resultType="String">
		select nickname from usertable where email=#{email} and passwd=#{passwd}
	</select>
		
	

</mapper>