<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insert" parameterType="spring.model.MemberCommand">
		insert into usertable(email,nickname,passwd,hash,createddate,modifieddate,distinction,reportcount,ip,gender)
		values
		(#{email},#{nickname},#{passwd},#{hash},sysdate,sysdate,0,0,#{ip},#{gender})
	</insert>
	
	<insert id="insertP" parameterType="spring.model.ProfilePhotoCommand">
		insert into profilePhoto
		values (#{email},#{path})
	</insert>

	<select id="selectMember" parameterType="String"
		resultType="spring.model.MemberCommand">
		select * from usertable where email=#{email}
	</select>

	<select id="selectAll" parameterType="spring.model.MemberCommand"
		resultType="spring.model.MemberCommand">
		select * from usertable order by createddate desc
	</select>
	
	<select id="memberCount" parameterType="spring.model.MemberCommand" resultType="int">
		select count(email) from usertable 
	</select>

	<update id="updateMember" parameterType="spring.model.MemberCommand">
		update usertable set
		email=#{email}, nickname=#{nickname}, passwd=#{passwd}, gender=#{gender} where email=#{email}
	</update>
	
	<update id="updateHash" parameterType="spring.model.MemberCommand">
		update usertable set
		hash=#{hash} where email=#{email}
	</update>

	<delete id="delete" parameterType="String">
		delete from usertable where
		email=#{email}
	</delete>

	<select id="checkdelete" parameterType="String" resultType="String">
		select passwd from usertable where email=#{email}
	</select>

	<select id="login" parameterType="spring.model.MemberCommand"
		resultType="int">
		select count(*) from usertable where email=#{email} and
		passwd=#{passwd}
	</select>

	<select id="findPassword" parameterType="spring.model.MemberCommand"
		resultType="String">
		select passwd from usertable where email=#{email}
	</select>

	<select id="nick" parameterType="spring.model.MemberCommand"
		resultType="String">
		select nickname from usertable where email=#{email} and
		passwd=#{passwd}
	</select>

	<select id="findEmail" parameterType="spring.model.MemberCommand"
		resultType="int">
		select count(*) from usertable where email=#{email}
	</select>
	
	<select id="emailList" resultType="spring.model.MemberCommand">
		select email from usertable
	</select>
	
	<select id="selectEmail" resultType="String">
		select email from usertable
	</select>

	<update id="tempPasswd" parameterType="spring.controller.member.TempPasswd" >
		update usertable set passwd=#{passwd} where email=#{email}
	</update>	
	
	<update id="profile" parameterType="spring.model.MemberCommand">
	update usertable set birthday=#{birthday}, middleschool=#{middleschool}, highschool=#{highschool}, bloodgroups=#{bloodgroups},
	university=#{university}, location=#{location}, phone=#{phone}, job=#{job}, checked=#{checked} where email=#{email}
	</update>
	
	<select id="selectCheck" parameterType="String" resultType="String">
	select checked from usertable where email=#{email}
	</select>
	
	<select id="selectNick" parameterType="String" resultType="spring.model.MemberCommand">
	select * from usertable where nickname=#{nickname}
	</select>
	
	<select id="photoView"  parameterType="String" resultType="String">
	select path from profilePhoto where email=#{email}
	</select>


	<insert id ="visitor" parameterType="spring.model.VisitCommand">
	insert into total_visit(email) values (#{email})
	</insert>

	<select id = "getprofilepath" resultType="Map">
		select email, path from profilePhoto
	</select>


	<select id="total_count" resultType="int">
	select count(*) from total_visit
	</select>
	
 	<select id ="today" resultType="int">
	select count(*) from total_visit WHERE visit_date >= TO_DATE('2016'||'-07-07','YYYY-MM-DD')
	</select> 
</mapper>