<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Message">

	<insert id="send" parameterType="spring.model.MessageCommand">
		insert into Message
		values(MESSAGE_SEQ.NEXTVAL,#{messageContent},#{sendEmail},#{sendNickname},#{receEmail},#{receNickname},sysdate)
	</insert>

	<select id="getMessageList" parameterType="String"
		resultType="spring.model.MessageCommand">
		select * from message where receEmail = #{receEmail} order by sendDate desc
	</select>

	<select id="getMessageCount" parameterType="String" resultType="int">
		select count(*) from message where receEmail=#{receEmail}
	</select>

	<delete id="deleteMessage" parameterType="int">
		delete from message
		where messageNum=#{messageNum}
	</delete>
	
	<select id="MessageOne" parameterType="int" resultType="spring.model.MessageCommand">
		select * from message where messageNum=#{messageNum}
	</select>
</mapper>

