<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Report">


	<insert id="sendReport" parameterType="spring.model.ReportCommand">
		insert into report
		values(report_num.nextval,#{redistinction},#{connum},#{email},0,#{report},#{comnick})
	</insert>
	
	<insert id="sendReportCom" parameterType="spring.model.ReportCommand">
		insert into report
		values(report_num.nextval,#{redistinction},#{connum},#{email},#{comnum},#{report},#{comnick})
	</insert>

	<update id="Reportcount" parameterType="String">
		update usertable set reportcount=reportcount+1 where email = #{email}
	</update>
	
	<update id="Reportcountcon" parameterType="String">
		update contents set conreportcount=conreportcount+1 where email= #{email}
	</update>
	
	<update id="Reportcountcom" parameterType="String">
		update commenttable set comreportcount=comreportcount+1 where email= #{email}
	</update>
	<select id="getreportcontent" parameterType="int" resultType="String">
		select content from contents where connum = #{connum}
	</select>
	<select id="getreportcomment" parameterType="int" resultType="String">
		select comcontent from commenttable where comnum = #{comnum}
	</select>


	<!-- <insert id="sendreport" parameterType="board.ReportDataBean"> insert 
		into report values(report_num.nextval,#{redistinction},#{connum},#{email}) 
		</insert>
		 <select id="getreport" resultType="board.ContentDataBean"> select 
		* from contents where conreportcount >= 1 </select>
		
		 <update id="update" parameterType="String"> 
		update usertable set reportcount=reportcount+1 where email = #{email} </update> -->
</mapper>